body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(30, 29, 29);
    height: 100vh;
}

.rays{
    position: relative;
    width: 500px;
    height: 500px;
}

.ring{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 8px solid;
    transform: translate(-50%,-50%) scale(0);
    opacity: 0;
    animation: expand 10s ease-out infinite;

}

.ring:nth-child(5n+1) { border-color: blue;}
.ring:nth-child(5n+2) { border-color:yellow ;}
.ring:nth-child(5n+3) { border-color:red ;}
.ring:nth-child(5n+4) { border-color:white ;}
.ring:nth-child(5n+5) { border-color: orangered;}

.ring:nth-child(1) {animation-delay: 0s;}
.ring:nth-child(2) {animation-delay: 1s;}
.ring:nth-child(3) {animation-delay: 2s;}
.ring:nth-child(4) {animation-delay: 3s;}
.ring:nth-child(5) {animation-delay: 4s;}
.ring:nth-child(6) {animation-delay: 5s;}
.ring:nth-child(7) {animation-delay: 6s;}
.ring:nth-child(8) {animation-delay: 7s;}
.ring:nth-child(9) {animation-delay: 8s;}
.ring:nth-child(10) {animation-delay: 9s;}


@keyframes expand {
    0% {
        transform: translate(-50%,-50%) scale(0);
    }
    50% {
        opacity: 1;
    }
    90% {
        opacity: 0.5;
    }
    100% {
        transform: translate(-50%,-50%) scale(15);
        opacity: 0%;
    }
}
